p{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: rgb(252, 71, 0);
    text-align: justify;
    text-align-last:center ;
    text-indent: 10px;
    letter-spacing:1px ;
    word-spacing:2px ;
    line-height:20px ;
    text-transform: capitalize;
    text-decoration: 2px dotted yellow underline;
    text-shadow: 100px 10px 1px rgba(128, 128, 128, 0.786);
}